<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.dxd.dao.RoleMapper">
 	<!-- 查询所有身份信息 -->
 	<select id="getRole" resultMap="roleMap">
 		select * from role
 	</select>
 	<resultMap type="Role" id="roleMap">
 		<id column="rId" property="rId"/>
 		<result column="rName" property="rName"/>
 		<result column="rCode" property="rCode"/>
 		<result column="rDate" property="rDate"/>
 	</resultMap>
 </mapper>
